<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :orden_de_trabajo_id %><br />
    <%= f.text_field :orden_de_trabajo_id %>
  </div>
  <div class="field">
    <%= f.label :empresa_id %><br />
    <%= f.text_field :empresa_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
