<p id="notice"><%= notice %></p>

<p>
  <b>Cantidad:</b>
  <%= @r_i.cantidad %>
</p>

<p>
  <b>Prioridad:</b>
  <%= @r_i.prioridad %>
</p>


<%= link_to 'Edit', edit_r_i_path(@r_i) %> |
<%= link_to 'Back', r_is_path %>
