<h1>Listing instancia_items</h1>

<table>
  <tr>
    <th>Id item</th>
    <th>Corr</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @instancia_items.each do |instancia_item| %>
  <tr>
    <td><%= instancia_item.id_item %></td>
    <td><%= instancia_item.corr %></td>
    <td><%= link_to 'Show', instancia_item %></td>
    <td><%= link_to 'Edit', edit_instancia_item_path(instancia_item) %></td>
    <td><%= link_to 'Destroy', instancia_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Instancia item', new_instancia_item_path %>
