<p id="notice"><%= notice %></p>

<p>
  <b>Id item:</b>
  <%= @instancia_item.id_item %>
</p>

<p>
  <b>Corr:</b>
  <%= @instancia_item.corr %>
</p>


<%= link_to 'Edit', edit_instancia_item_path(@instancia_item) %> |
<%= link_to 'Back', instancia_items_path %>
