
<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
	  <p>
<% for cargo in Cargo.find(:all)%>
  
	<div>
	
	
	<%= f.radio_button :cargo_nombre, cargo.nombre%>
	<%= label_tag (cargo.nombre)%>

	</-->
	</div>
 <% end%>
  	
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
    <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  
  <p><%= f.submit %></p>
<% end %>
