<%= form_for(@telefono_empresa_cliente) do |f| %>
  <% if @telefono_empresa_cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@telefono_empresa_cliente.errors.count, "error") %> prohibited this telefono_empresa_cliente from being saved:</h2>

      <ul>
      <% @telefono_empresa_cliente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :fono %><br />
    <%= f.text_field :fono %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
