<h1>Listing proveedors</h1>

<table>
  <tr>
    <th>Codigo</th>
    <th>Nombre</th>
    <th>Direccion</th>
    <th>Telefono</th>
    <th>Ciudad</th>
    <th>Pais</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proveedors.each do |proveedor| %>
  <tr>
    <td><%= proveedor.codigo %></td>
    <td><%= proveedor.nombre %></td>
    <td><%= proveedor.direccion %></td>
    <td><%= proveedor.telefono %></td>
    <td><%= proveedor.ciudad %></td>
    <td><%= proveedor.pais %></td>
    <td><%= link_to 'Show', proveedor %></td>
    <td><%= link_to 'Edit', edit_proveedor_path(proveedor) %></td>
    <td><%= link_to 'Destroy', proveedor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Proveedor', new_proveedor_path %>
