<h1>Listing proveedors</h1>

<table>
  <tr>
    <th>empresa_id</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proveedors.each do |proveedor| %>
  <tr>
    <td><%= proveedor.empresa_id %></td>

    <td><%= link_to 'Show', proveedor %></td>
    <td><%= link_to 'Edit', edit_proveedor_path(proveedor) %></td>
    <td><%= link_to 'Destroy', proveedor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Proveedor', new_proveedor_path %>
