<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @proveedor.codigo %>
</p>

<p>
  <b>Nombre:</b>
  <%= @proveedor.nombre %>
</p>

<p>
  <b>Direccion:</b>
  <%= @proveedor.direccion %>
</p>

<p>
  <b>Telefono:</b>
  <%= @proveedor.telefono %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @proveedor.ciudad %>
</p>

<p>
  <b>Pais:</b>
  <%= @proveedor.pais %>
</p>


<%= link_to 'Edit', edit_proveedor_path(@proveedor) %> |
<%= link_to 'Back', proveedors_path %>
