<p id="notice"><%= notice %></p>
<section id="content">
<header id="homeheader">
<h2>

<span> Bodega </span>
<p>Ingresos</p>


 </h2>
<img src="images/basic-package.png" width="256" height="256" alt="header image" class="headerimg"> </header>
<section id="page">
	
<p><%= link_to 'Ingresar Material o Herramienta', new_item_path %></p>
|<%= link_to 'listar', items_path %>|
  
<p><%= link_to 'Ingresar Usuarios', new_user_path %></p>|<%= link_to 'listar', users_path %>|

<p><%= link_to 'Ingresar Proveedor', new_proveedor_path %></p>|<%= link_to 'listar', proveedors_path %>|

<p><%= link_to 'Ingresar Cliente', new_cliente_path %></p>|<%= link_to 'listar', clientes_path %>|


</section>
<section id="fourcols">
<header class="mainheading">
<h2 class="introhead">What Makes Us Stand Out ?</h2>
</header>
<div class="clear"></div>

<div class="clear"></div>
</section>
</section>
</section>
</div>
