<h1>Listing modelos</h1>

<table>
  <tr>
    <th>Codigo</th>
    <th>Nombre</th>
    <th>Tipoitem codigo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @modelos.each do |modelo| %>
  <tr>
    <td><%= modelo.codigo %></td>
    <td><%= modelo.nombre %></td>
    <td><%= modelo.tipoItem_codigo %></td>
    <td><%= link_to 'Show', modelo %></td>
    <td><%= link_to 'Edit', edit_modelo_path(modelo) %></td>
    <td><%= link_to 'Destroy', modelo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Modelo', new_modelo_path %>
