<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @modelo.codigo %>
</p>

<p>
  <b>Nombre:</b>
  <%= @modelo.nombre %>
</p>

<p>
  <b>Tipoitem codigo:</b>
  <%= @modelo.tipoItem_codigo %>
</p>


<%= link_to 'Edit', edit_modelo_path(@modelo) %> |
<%= link_to 'Back', modelos_path %>
