<%= form_for(@i_c) do |f| %>
  <% if @i_c.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@i_c.errors.count, "error") %> prohibited this i_c from being saved:</h2>

      <ul>
      <% @i_c.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cliente_id %><br />
    <%= f.text_field :cliente_id %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br />
    <%= f.text_field :item_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
