<h1>Listing efectivos</h1>

<table>
  <tr>
    <th>Valor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @efectivos.each do |efectivo| %>
  <tr>
    <td><%= efectivo.valor %></td>
    <td><%= link_to 'Show', efectivo %></td>
    <td><%= link_to 'Edit', edit_efectivo_path(efectivo) %></td>
    <td><%= link_to 'Destroy', efectivo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Efectivo', new_efectivo_path %>
