<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo %> (Ej. E003)<br />
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :nombre %> (Ej. Martillo)<br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :seccion_id %> (Ej. A1)<br />
    <%= f.text_field :seccion_id %>
  </div>
  <div class="field">
    <%= f.label :marca %> (Ej. Stanley)<br />
    <%= f.text_field :marca %>
  </div>

  <div class="field">
   <%= f.label :proveedor_id %> (Ej. )<br />
   <%= collection_select(:item, :proveedor_id, Proveedor.find(:all), :id,:nombre, {  :prompt => 'Seleccione el proveedor por favor' })%> 
  </div>

  <div class="field">
    <%= f.label :documento_id %><br />
    <%= f.text_field :documento_id %>
  </div>

  <div class="field">
  	<%= select(:item, :unidad_id,Unidad.all.collect {|u| [u.nombre, u.id]}, {:include_black => 'None'} )%> 

  </div>    
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
