<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :nombre %> (Ej. Martillo)<br />
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :marca %> (Ej. Stanley)<br />
    <%= f.text_field :marca %>
  </div>

  <div class="field">
   <%= f.label :seccion_id %> (Ej. )<br />
   <%= collection_select(:item, :seccion_id, Seccion.find(:all), :id,:descripcion, {  :prompt => 'Seleccione la sección' })%>
   <%= link_to 'Crear Sección', new_seccion_path%>  
  </div>


  <div class="field">
   <%= f.label :proveedor_id %> (Ej. )<br />
   <%= collection_select(:item, :proveedor_id, Proveedor.find(:all), :id,:nombre, {  :prompt => 'Seleccione el proveedor' })%>
   <%= link_to 'Crear Proveedor', new_proveedor_path%>  
  </div>


<table>
<tr>
	<td><%= f.label :medida %></td>
	<td><%= f.label :unidad_id %></td>
</tr>

<tr>
	<td> <%= f.text_field :medida %></td>
	<td><%= select(:item, :unidad_id,Unidad.all.collect {|u| [u.nombre, u.id]}, {:prompt=> 'Seleccione la unidad'} )%>
  	<%= link_to 'Crear Unidad', new_unidad_path%> </td>
</tr>

   <div class="field">

    <%= f.label :estado %> (Ej. Stanley)<br />
    <%= f.text_field :estado %>
  </div>
</table>

	  <div class="actions">
	    <%= f.submit %>
	  </div>

	<% end %>
