<script type="text/javascript">
$(document).ready(
			function(){
						$('#listar').highlight()
			}
	);
</script>
<h1>Listing items</h1>

<table id="listar">
  <tr>
    <th>Estado</th>
    <th>Nombre</th>
    <th>Sección codigo</th>
    <th>Marca</th>
    <th>Unidad codigo</th>
    <th>Proveedor codigo</th>
    <th>Medida</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.estado %></td>
    <td><%= item.nombre %></td>
    <td><%= item.seccion_id %></td>
    <td><%= item.marca %></td>
    <td><%= item.unidad_id %></td>
    <td><%= item.proveedor_id %></td>
    <td><%= item.medida %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
