<p id="notice"><%= notice %></p>


<p>
  <b>Nombre:</b>
  <%= @item.nombre %>
</p>


<p>
  <b>Marca:</b>
  <%= @item.marca %>
</p>

<p>
  <b>Unidad id:</b>
  <%= @item.unidad_id %>
</p>

<p>
  <b>Proveedor codigo:</b>
  <%= @item.proveedor_id %>
</p>

<p>
  <b>Medida:</b>
  <%= @item.medida %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
