<p id="notice"><%= notice %></p>

<p>
  <b>Rut:</b>
  <%= @empresa.rut %>
</p>

<p>
  <b>Nombre:</b>
  <%= @empresa.nombre %>
</p>

<p>
  <b>Direccion:</b>
  <%= @empresa.direccion %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @empresa.ciudad %>
</p>


<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
