<h1>Listing unidads</h1>

<table>
  <tr>
    <th>Codigo</th>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @unidads.each do |unidad| %>
  <tr>
    <td><%= unidad.codigo %></td>
    <td><%= unidad.nombre %></td>
    <td><%= link_to 'Show', unidad %></td>
    <td><%= link_to 'Edit', edit_unidad_path(unidad) %></td>
    <td><%= link_to 'Destroy', unidad, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unidad', new_unidad_path %>
