<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @unidad.codigo %>
</p>

<p>
  <b>Nombre:</b>
  <%= @unidad.nombre %>
</p>

<%= link_to 'Crear nuevo Item', new_item_path %>|
<%= link_to 'Edit', edit_unidad_path(@unidad) %> |
<%= link_to 'Back', unidads_path %>
